html, body {
    height: 100%;
}

h1 {
    margin: 0;
}

.bottomcontainer {
    height: 25%;
}

.comment-button {
    float: right;
}

.comment-list {
    list-style: circle;
}

.comment-list > li {
    cursor: pointer;
}

.comment-list > li:hover {
    background-color: limegreen;
}

.comment-minimized {
    position: absolute;
    padding: 0;
    height: 2;
    width: 2;
}

#comment-new, #comment-saved {
    display: none;
}

#fileToUpload {
    padding-top: 10px;
}

.file-comment {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 6px;
    position: absolute;
    padding: 6px;
    min-width: 44px;
    white-space: initial;
}

.file-comment:after, .file-comment:before {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.file-comment:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: aliceblue;
	border-width: 10px;
	margin-left: -10px;
}
.file-comment:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000000;
	border-width: 12px;
	margin-left: -12px;
}

.file-content-column {
    padding-left: 10px;
    white-space: pre;
    font-size: 12px;
    position: relative;
}

.file-list {
    list-style: none;
    padding-left: 5px;
}

.file-list > li {
    cursor: pointer;
    float: left;
}

.file-list > li:hover {
    background-color: limegreen;
}

.file-list-selected {
    background-color: turquoise;
}

.fill {
    height: 98%;
    max-height: 98%;
    margin: 0;
}

.line-number-column {
    float: left;
    background-color: lightgrey;
    padding: 0 10px;
    text-align: right;
    font-size: 12px;
    margin-right: 10px;
}

.maincontent {
    max-height: 67%;
    min-height: 67%;
    height: 67%;
}

.navbar {
    margin-bottom: 5px;
}

#new-review-modal {
    display: none;
}

.panel-body {
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: auto;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color: orange !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
